<%= erb :form, locals: {idea: idea} %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th style="width: 5%;">Rank</th>
      <th style="width: 20%">Idea</th>
      <th>Description</th>
    </tr>
  </thead>
  <% ideas.each do |idea| %>
  <tbody>
    <tr>
      <td><span class="badge"><%= idea.rank %></span></td>
      <td><%= idea.title %></td>
      <td><%= idea.description %></td>
      <td style="width: 5%;"><form action='/<%= idea.id %>/like' method='POST'>
        <button type='submit' class="btn btn-default">
          <span class="glyphicon glyphicon-arrow-up"></span>  Rank Up
        </button>
        </form></td>
      <td style="width: 5%;"><form action='/<%= idea.id %>/hate' method='POST'>
        <button type='submit' class="btn btn-default">
          <span class="glyphicon glyphicon-arrow-down"></span>  Rank Down
        </button>
        </form></td>
      <td style="width: 5%;"><a href="/<%= idea.id %>/edit" method='POST'>
        <button type='submit' class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span>  Edit
        </button></a>
        </form></td>
      <td style="width: 5%;"><form action='/<%= idea.id %>' method='POST'>
        <input type="hidden" name="_method" value="DELETE">
        <button type='submit' class="btn btn-default">
          <span class="glyphicon glyphicon-remove"></span>  Delete
        </button>
        </form></td>
      </div>
    </tr>
  <% end %>
  </tbody>
</table>
